body {
    /* add top padding to make room for the header */
    padding-top: 4.5rem;
}

.container {
    max-width: 960px;
}

.helper-text {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}
